@media (min-width: 1280px){
  header {
  background: #F4F5F6;
  }
.container1 {
 width: 1280px;
 display: flex;
 flex-direction: row;
 height: 640px;
 background: #FFF;
 position: relative;
 }
 .container2 {
  width: 960px;
  padding-top: 64px;
 }
.bg-friends {
 margin: 0;
 background-size: 195% 133%;
 width: 640px;
 height: auto;
 background-position: -240px -160px;
}
.registration {
 margin: 0px;
 margin-left: 70px;
 width: 640px; 
 align-self: flex-start;
 align-items: flex-start;
 justify-content: flex-start;
}
.logo{
 margin-top: 42px;
 margin-bottom: 0px;
}
.entry__link{
 width: 260px;
}
.block-statistic {
  width: 960px;
  height: 274px - 30;
  position: relative;
  margin: auto;  
}
.statistics {
 position: absolute;
 top: -30px;
 width: 960px;
 height: 274px;
 flex-direction: row;
 grid-column-gap: 150px;
 justify-content: center;
 border-radius: 10px;
}
.statistic { 
 grid-row-gap: 16px;
}
.statistic__count {    
 color: #FFF;
 font-size: 72px;
 font-weight: 300;
 line-height: normal;
 }
.statistic__description {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
} 
.block-main { 
  background: #F4F5F6;
  padding: 0px;
}
.user-information__time-message{
  width: 150px;
}
.user-information__user-name{
  flex-direction: row;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}
.user-information__user-name span {
  margin-left: 20px;  
}
.last-message__title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-left: 0px;
  margin-bottom: 24px;
}
.user-information__time-message p {
  font-size: 14px;
}
.user-interaction{
  max-width: 280px;
}
.line {
  display: none;
}
.user-message p {
font-size: 18px;
}
.entry__link{
  width: 260px;
  }
  .entry-block__link{
   margin: 0;
  }
  .entry__title {
    width: 410px;
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    padding: 0;
    margin: 32px 0;
  }
  .mgtext{
    margin-right: 50px;
  }
  .call-block {
    position: relative;
    margin: auto;
    width: 100%;
    background: #F4F5F6;
    padding-bottom: 100px;
    .entry {
      margin: auto;
    }
    .entry__link{
      width: 260px;
      margin: auto;
      }
    .entry-block__link{ 
      flex-direction: row;
      margin: auto;
      grid-column-gap: 16px;
    }
    .entry__title {
      width: 100%;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  }
  .call-block::before {
    content: "    ";
    width: 100%;
    height: 318px;
    display: block;
    position: absolute;
    bottom: 260px;
    left: 0px;
    background: linear-gradient(0deg, #F4F5F6 21.88%, rgba(244, 245, 246, 0.00) 100%);
  }
  .post{
    padding: 16px;
    width: 632px;
    grid-template-columns: 64px 1fr;
  }
  .last-message{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    padding: 0px;
   }
   .post__avatar{
    width: 64px;
    height: 64px;
  }
  main{
    background: #F4F5F6;
  }
  .topics-blogs {
    display: block;
  }
  .block-registration {
    width: 362px;
    height: 440px;
    border-radius: 10px 10px 10px 10px;
    top: 33%;
  }
  .exit {
    display: block;
  }
  .registration-window__handler {
    display: none;
  }
  .block-authorization {
    width: 362px;
    height: 289px;
    border-radius: 10px 10px 10px 10px;
    top: 43%;
  }
  .authorization-window__handler {
    display: none;
  }
}
