@import "_null";
*{
  font-family: 'Lato', sans-serif;
  font-style: normal;
 }
 .container1{
  margin: auto;
 }
 .container2{
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 42px;
 }
 .registration {
 display: flex;
 flex-direction: column;
 align-items: center;
}
 .entry {
  display: flex;
  flex-direction: column;
  .entry__title {
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 24px;
    padding: 0px 16px;
  }
  .fz-title{
    font-size: 20px;
  }
  @import "_adapt";
   .entry-block__link{
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;
    margin: auto;
  .entry__link{
    display: inline-block;
    text-decoration: none;
    width: 328px;
    border: 1px solid #0057FF;
    text-align: center;
    padding: 15px 1px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    background: #0057FF;
    color: #ffffff;
    transition: all 0.5s;
    cursor: pointer;    
    &:hover{
    color: #0057FF;
    background: #FFFFFF;
    transition: all 0.5s;    
    }
  }
  @import "_adapt";
  }
  @import "_adapt";
 }
.logo {
  width: 36px;
  height: 38px;
  margin-top: 24px;
  margin-bottom: 24px;   
}
.bg-friends {
   margin-top: 24px;
   min-height: 160px;
   background-image: url("../img/bg_friends.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 432px auto;
}
.statistics {
   padding-top: 36px;
   padding-bottom: 36px;
   background: #0057FF;
   display: flex;
   flex-direction: column;
   align-items: center;
   grid-row-gap: 32px;
  .statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    grid-row-gap: 5px;
  .statistic__count {
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
  }
  @import "_adapt";
  .statistic__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: 150px;
  }
  @import "_adapt";
  }
  @import "_adapt";
}
.last-message__title {
  margin-left: 16px;
  font-weight: 900;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 24px;
}
.block-main {
    margin-bottom: 25px;
    display: flex;
    padding: 0 16px;
    align-items: flex-start;
  @import "_adapt";
  .line{
    border-top: 1px solid #E9E9E9;
    height: 1px;
    width: 100%;
    margin: 16px 0px 16px 0;
  }
  @import "_adapt";
  .post{
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-column-gap: 16px;
    width: 100%;
  .post__avatar{
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background-color: RGB(227,235,238);
  }
  .user{
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;
    min-width: 260px;
  .user-information{
    display: flex;
    justify-content:space-between;
    .user-information__user-name{
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    color: #1D1E22;
    display: flex;
    flex-direction: column;
    span{
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #ABACB1;
    }
    @import "_adapt";
    }
    @import "_adapt";
    
    .user-information__time-message{
      width: 52px;
      p{
      font-weight: 400;
      font-size: 10px;
      text-align: right;
      color: #ABACB1;
      }
      @import "_adapt";
    }
    @import "_adapt";
  }  
  }
  .user-message {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    }
    @import "_adapt";
    img {
    max-width: 100%;
    height: auto;
    }
  }
  @import "_adapt";
  .mg-rg{
    margin-right: 10px;
  }
  .user-interaction {
    display: flex;
    margin-top: 5px;
    max-width: 205px;
    justify-content: space-between;
    .user-interaction__item {
    display: flex;
    align-items: center;
    .user-interaction__favs path:hover {
    fill: #ff0000;
    stroke: #0057FF;
    }
    .user-interaction__icon path:hover{ 
    stroke: #0057FF;
      }
    p{
      margin-left: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #ABACB1;
    }
  }
  }
  @import "_adapt";
}
@import "_adapt";
}
.topics-blogs {
  display: none;
  .topics-blogs__title {
    color: #1D1E22;
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
    padding-top: 8px;
    margin-left: 16px;
  }
.topics {
  width: 312px;
  height: 295px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
.hashtags-items{
  margin: 13px 0px 0px 16px;
 .hashtags-item{
  list-style-type:  none;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  .hashtag {
    color: #1D1E22;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 2px;
  }
  .hashtag-sub {
    color: #ABACB1;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;    
  }
 }
}
}
.blogs{
  width: 312px;
  height: 248px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
.blogs-items{
  margin-left: 16px;
  margin-top: 21px;
  .blogs-item{
    list-style-type:  none;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .blog-icon{
     width: 48px;
     height: 48px;
     border-radius: 50px;
     background-color: RGB(227,235,238);
    }
    .blog-info {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      .blog-name{
        color: #1D1E22;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        width: 144px;
        margin-right: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        .blog-sub{
          color: #ABACB1;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
    }
    .blogs__btn{
      display: inline-block;
      text-decoration: none;
      width: 69px;
      padding: 7px 0px;
      border-radius: 5px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      cursor: pointer; 
      color: #0057FF; 
      background: #FFF; 
      border: 1px solid #0057FF;
      transition: all 0.5s;
      &:hover{
      color: #FFFFFF;
      background: #0057FF;
      transition: all 0.5s;    
      }
    }
  }
}
}
}
.call-block {
  margin: auto;
  margin-bottom: 36px;
  .entry{
    .entry__title {
      color: #000;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin: auto;
      margin-bottom: 24px
    }
    @media (min-width: 1280px){
    .entry__title {
      width: 460px;
      margin-bottom: 32px;
    }
  }
  }
  @import "_adapt";
}
.bg-registration-window {
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background: #00000099;
  .block-registration {
    background: #FFFFFF;
    width: 100%;
    height: 476px;
    position: fixed;
    bottom:0px;
    border-radius: 10px 10px 0px 0px;
  }
  @import "_adapt";
  .registration-window {
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    .registration-window__handler {
     width: 50px;
     height: 4px;
     border-radius: 2px;
     background: #ABACB1;
     margin: 0 auto 32px auto;
     cursor: pointer;
     }
     @import "_adapt";
  .registration-window__title {
    display: flex;
    justify-content: space-between;
    color: #1D1E22;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 24px;
    .exit {
      display: none;
      cursor: pointer;
    }
    @import "_adapt";
  }

  .window-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    background: #FFF;
    margin-bottom: 24px;
    input {
      outline: 0 !important;
    }
      .window-input__label{
      color: #B1B1B1;
      font-size: 9px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 16px;
      margin-top: 8px;
      }
      .window-input__input{
      margin-top: 4px;
      border: 0px;
      font-size: 18px;
      margin-left: 16px;
      color: #555;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      }
  }
  .input-mail {
    .window-input {
    border-radius: 10px;
    border: 1px solid #DFDFDF;
     }
    .window-input__input {
    margin-top: 0px; 
     }
    .window-input__label { 
    margin-top: 12px;
    }
  }
  .input-password {
    .window-input { 
      .window-input__input {
        margin-top: 16px; 
        margin-bottom: 14px;
        }
    }
  }
  .input-confirm-password {
    .window-input { 
      .window-input__input {
        margin-top: 16px; 
        margin-bottom: 14px;
        }
    }
  }
  .validation {
    color: #E40060;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 9px;
  }
  .login-vd {
    display: none;
  }
  .password-vd {
    display: none;
  }
  .confirm-password-vd {
    display: none
  }
  .mail-vd {
    display: none
  }
  .btn-registration-window {
    margin: auto;
    display: inline-block;
    text-decoration: none;
    width: 328px;
    border: 1px solid #0057FF;
    text-align: center;
    padding: 15px 1px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    background: #0057FF;
    color: #ffffff;
    transition: all 0.5s;
    cursor: pointer; 
    &:hover{
    color: #0057FF;
    background: #FFFFFF;
    transition: all 0.5s;    
    }
  }
  }
}
.bg-authorization-window {
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background: #00000099;
  .block-authorization {
    background: #FFFFFF;
    width: 100%;
    height: 324px;
    position: fixed;
    bottom:0px;
    border-radius: 10px 10px 0px 0px;
  }
  @import "_adapt";
  .authorization-window {
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
  .authorization-window__handler {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: #ABACB1;
    margin: 0 auto 32px auto;
    cursor: pointer;
    }
    @import "_adapt";
    .authorization-window__title {
      display: flex;
      justify-content: space-between;
      color: #1D1E22;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: 28px;
      margin-bottom: 24px;
      .exit {
        display: none;
        cursor: pointer;
      }
      @import "_adapt";
    }
    .window-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 52px;
      margin-bottom: 24px;
      border-radius: 10px;
      border: 1px solid #DFDFDF;
      background: #FFF;
      input {
        outline: 0 !important;
      }
        .window-input__label{
        color: #B1B1B1;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 16px;
        margin-top: 8px;
        }
        .window-input__input{
        margin-top: 4px;
        border: 0px;
        font-size: 18px;
        margin-left: 16px;
        color: #555;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
    }
    .validation {
      color: #E40060;
      font-size: 9px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: 16px;
      margin-top: 4px;
      margin-bottom: 9px;
    }
    .btn-authorization-window {
      margin: auto;
      display: inline-block;
      text-decoration: none;
      width: 328px;
      border: 1px solid #0057FF;
      text-align: center;
      padding: 15px 1px;
      border-radius: 10px;
      font-weight: 400;
      font-size: 18px;
      background: #0057FF;
      color: #ffffff;
      transition: all 0.5s;
      cursor: pointer; 
      &:hover{
      color: #0057FF;
      background: #FFFFFF;
      transition: all 0.5s;    
      }
    }
    .input-password {
      .window-input {
      margin-bottom: 0px;
      border-radius: 10px;
      border: 1px solid #FF97C3;
      background: #FFDEEC;  
       }
      .window-input__input {
      margin-top: 0px; 
      background: #FFDEEC;
       }
      .window-input__label { 
      margin-top: 12px;
      }
    }
    .mail-vd {
      display: none;
    }
  }
  
}
.bg-registration-window { 
  display: none;
}
.bg-authorization-window { 
  display: none;
}
.no-name {
  height: 8px;
  width: 80px;
  background-color: RGB(227,235,238);
  margin-bottom: 5px;
}
.no-mail {
  height: 8px;
  width: 200px;
  background-color: RGB(227,235,238);
  margin-bottom: 25px;
}
.no-message1 {
  height: 8px;
  width: 100% - 5%;
  background-color: RGB(227,235,238);
}
.no-message2 {
  height: 8px;
  width: 100% - 15%;
  background-color: RGB(227,235,238);
}
.no-hash {
  height: 10px;
  width: 250px;
  background-color: RGB(227,235,238);
  margin-bottom: 5px;
}
.no-hash2 {
  height: 8px;
  width: 200px;
  background-color: RGB(227,235,238);
  margin-bottom: 15px;
}
.no-blog {
  height: 10px;
  width: 140px;
  margin-right: 8px;
  background-color: RGB(227,235,238);
  margin-bottom: 4px;
}
.no-blog-sub {
  height: 8px;
  width: 110px;
  margin-right: 4px;
  background-color: RGB(227,235,238);
}
.no-blog-btn {
  width: 69px;
  color: RGB(227,235,238);
  border-radius: 5px;
  height: 25px;
  background: RGB(227,235,238);
}
@import "_adapt";
