@media (min-width: 1280px){
.container2 {
 width: 1280px;
 display: flex;
 flex-direction: row;
 height: 640px;
 }
.bg-friends {
 margin: 0;
 background-size: 195% 133%;
 width: 640px;
 height: auto;
 background-position: -240px -160px;
}
.registration {
 margin: 0px;
 margin-left: 70px;
 width: 640px; 
 align-self: flex-start;
 align-items: flex-start;
 justify-content: flex-start;
}
.logo{
 margin-top: 30px;
 margin-bottom: 40px;
}
.entry__link{
 width: 260px;
}
.statistics {
 width: 960px;
 height: 274px;     
 flex-direction: row;
 grid-column-gap: 150px;
 justify-content: center;
 margin: auto;
 border-radius: 10px;
}
.statistic { 
 grid-row-gap: 25px;
}
.statistic__count {
 padding-top: 20px;     
 font-size: 60px;
 }
.statistic__description {
 font-size: 18px;
 line-height: 20px;
} 
.block-last-message { 
  width: 692px;
  margin: auto;
  margin-bottom: 25px;
}
.user-information__time-message{
  width: 150px;
}
.user-information__user-name{
  flex-direction: row;
}
.user-information__user-name span {
  margin-left: 20px;  
}
.last-message__title {
  font-size: 27px;
}
.user-information__time-message p {
  font-size: 14px;
}
.user-interaction{
  max-width: 280px;
}
.line {
  width: 692px;
}
.user-message p {
font-size: 18px;
}
.entry__link{
  width: 260px;
  }
  .entry-block__link{
   margin: 0;
  }
  .entry__title {
    width: 440px;
    font-size: 42px;
    text-align: left;
    line-height: 60px;
  }
  .mgtext{
    margin-right: 50px;
  }
  .call-block {
    position: relative;
    margin: auto;
    width: 1280px;
    .entry {
      margin: auto;
    }
    .entry__link{
      width: 100%;
      margin: auto;
      }
    .entry-block__link{ 
      flex-direction: row;
      margin: auto;
      grid-column-gap: 10px;
    }
    .entry__title {
      width: 100%;
      font-size: 32px;
      text-align: center;
      line-height: 40px;
    }
  }
  .call-block::before {
    content: "    ";
    width: 1280px;
    height: 250px;
    display: block;
    position: absolute;
    bottom: 150px;
    left: 0px;
    background: -webkit-linear-gradient(0deg, rgb(255, 255, 255) 20%, rgb(0 0 0 / 0));
    background: -moz-linear-gradient(0deg, rgb(255, 255, 255) 20%,rgb(0 0 0 / 0));
    background: linear-gradient(0deg, rgb(255, 255, 255) 20%, rgb(0 0 0 / 0));

  }
}
