@media (min-width: 1280px){
.container2 {
 width: 1280px;
 display: flex;
 flex-direction: row;
 height: 640px;
 }
.bg-friends {
 margin: 0;
 background-size: 195% 133%;
 width: 640px;
 height: auto;
 background-position: -240px -160px;
}
.registration {
 margin: 0px;
 margin-left: 70px;
 width: 640px; 
 align-self: flex-start;
 align-items: flex-start;
 justify-content: flex-start;
}
.logo{
 margin-top: 30px;
 margin-bottom: 40px;
}
.entry__link{
 width: 260px;
}
.statistics {
 width: 960px;
 height: 274px;     
 flex-direction: row;
 grid-column-gap: 150px;
 justify-content: center;
 margin: auto;
 border-radius: 10px;
}
.statistic { 
 grid-row-gap: 25px;
}
.statistic__count {
 padding-top: 20px;     
 font-size: 60px;
 }
.statistic__description {
 font-size: 18px;
 line-height: 20px;
} 
.block-last-message { 
  width: 692px;
  margin: auto;
}
.user-information__time-message{
  width: 150px;
}
.user-information__user-name{
  flex-direction: row;
}
.user-information__user-name span {
  margin-left: 20px;  
}
.last-message__title {
  font-size: 27px;
}
.user-information__time-message p {
  font-size: 14px;
}
.user-interaction{
  max-width: 250px;
}
.line {
  width: 692px;
}
.user-message p {
font-size: 18px;
} 
}