@import "_null";
*{
  font-family: 'Lato', sans-serif;
  font-style: normal;
 }
 .container1{
    margin: auto;
 }
 .container2{
  margin: auto;
}
 .registration {
 display: flex;
 flex-direction: column;
 align-items: center;
}
 .entry {
  display: flex;
  flex-direction: column;
  .entry__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 24px
  }
  @media (min-width: 1280px) {
    .entry__title {
      width: 440px;
      font-size: 42px;
      text-align: left;
      line-height: 60px;
    }
    .mgtext{
      margin-right: 50px;
    }
   }
  .entry__link{
    display: inline-block;
    text-decoration: none;
    width: 328px;
    margin: auto;
    border: 1px solid #0057FF;
    text-align: center;
    padding: 15px 1px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #0057FF;
    transition: all 0.5s;    
    &:hover{
    color: #FFFFFF;
    background: #0057FF;
    transition: all 0.5s;    
    }
  }
  @media (min-width: 1280px) {
    .entry__link{
      width: 260px;
      margin: 0;
     }
   }
  .entry__link-mg {
   margin-top: 16px;
  }
 }
.logo {
  width: 36px;
  height: 38px;
  margin-top: 24px;
  margin-bottom: 24px;   
}
.bg-friends {
   margin-top: 24px;
   min-height: 160px;
   background-image: url("../img/bg_friends.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 432px auto;
}
.statistics {
   padding-top: 36px;
   padding-bottom: 36px;
   background: #0057FF;
   display: flex;
   flex-direction: column;
   align-items: center;
   grid-row-gap: 32px;
  .statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    grid-row-gap: 5px;
  .statistic__count {
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
  }
  .statistic__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: 150px;
  }
  }
  @import "_adapt";
}
.block-last-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  .last-message__title {
    padding-top: 45px;
    font-weight: 900;
    font-size: 20px;
    line-height: 29px;
    margin: 0px 16px;
    margin-bottom: 24px;
  }
  .line{
    border-top: 1px solid #E9E9E9;
    height: 1px;
    width: 100%;
    padding: 16px 0px 16px 0;
  }
  .post{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 16px;
    margin: 0px 16px;
    width: 90%;
  .post__avatar{
    width: 52px;
    height: 52px;
  }
  .user{
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;
    min-width: 260px;
  .user-information{
    display: flex;
    justify-content:space-between;
    .user-information__user-name{
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    color: #1D1E22;
    display: flex;
    flex-direction: column;
    span{
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #ABACB1;
    }
    }
    .user-information__time-message{
      width: 52px;
      p{
      font-weight: 400;
      font-size: 10px;
      text-align: right;
      color: #ABACB1;
      }
    }
  }  
  }
  .user-message {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    }
    img {
    max-width: 100%;
    height: auto;
    }
  }
  .mg-rg{
    margin-right: 10px;
  }
  .user-interaction{
    max-width: 205px;
    display: flex;
    justify-content: space-between;
    .user-interaction__item {
    display: flex;
    align-items: center;
    .user-interaction__favs path:hover {
    fill: #ff0000;
    stroke: #0057FF;
    }
    .user-interaction__icon path:hover{ 
    stroke: #0057FF;
      }
    p{
      margin-left: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #B1B1B1;  
    }
  }
  }
}
}
@import "_adapt";