* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.container1 {
  margin: auto;
}

.container2 {
  margin: auto;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry {
  display: flex;
  flex-direction: column;
}
.entry .entry__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 24px;
}
@media (min-width: 1280px) {
  .entry .entry__title {
    width: 440px;
    font-size: 42px;
    text-align: left;
    line-height: 60px;
  }
  .entry .mgtext {
    margin-right: 50px;
  }
}
.entry .entry__link {
  display: inline-block;
  text-decoration: none;
  width: 328px;
  margin: auto;
  border: 1px solid #0057FF;
  text-align: center;
  padding: 15px 1px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #0057FF;
  transition: all 0.5s;
}
.entry .entry__link:hover {
  color: #FFFFFF;
  background: #0057FF;
  transition: all 0.5s;
}
@media (min-width: 1280px) {
  .entry .entry__link {
    width: 260px;
    margin: 0;
  }
}
.entry .entry__link-mg {
  margin-top: 16px;
}

.logo {
  width: 36px;
  height: 38px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.bg-friends {
  margin-top: 24px;
  min-height: 160px;
  background-image: url("../img/bg_friends.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 432px auto;
}

.statistics {
  padding-top: 36px;
  padding-bottom: 36px;
  background: #0057FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 32px;
}
.statistics .statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  grid-row-gap: 5px;
}
.statistics .statistic .statistic__count {
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
}
@media (min-width: 1280px) {
  .statistics .statistic .container2 {
    width: 1280px;
    display: flex;
    flex-direction: row;
    height: 640px;
  }
  .statistics .statistic .bg-friends {
    margin: 0;
    background-size: 195% 133%;
    width: 640px;
    height: auto;
    background-position: -240px -160px;
  }
  .statistics .statistic .registration {
    margin: 0px;
    margin-left: 70px;
    width: 640px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .statistics .statistic .logo {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .statistics .statistic .entry__link {
    width: 260px;
  }
  .statistics .statistic .statistics {
    width: 960px;
    height: 274px;
    flex-direction: row;
    grid-column-gap: 150px;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
  }
  .statistics .statistic .statistic {
    grid-row-gap: 25px;
  }
  .statistics .statistic .statistic__count {
    padding-top: 20px;
    font-size: 60px;
  }
  .statistics .statistic .statistic__description {
    font-size: 18px;
    line-height: 20px;
  }
}
.statistics .statistic .statistic__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 150px;
}
@media (min-width: 1280px) {
  .statistics .statistic .container2 {
    width: 1280px;
    display: flex;
    flex-direction: row;
    height: 640px;
  }
  .statistics .statistic .bg-friends {
    margin: 0;
    background-size: 195% 133%;
    width: 640px;
    height: auto;
    background-position: -240px -160px;
  }
  .statistics .statistic .registration {
    margin: 0px;
    margin-left: 70px;
    width: 640px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .statistics .statistic .logo {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .statistics .statistic .entry__link {
    width: 260px;
  }
  .statistics .statistic .statistics {
    width: 960px;
    height: 274px;
    flex-direction: row;
    grid-column-gap: 150px;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
  }
  .statistics .statistic .statistic {
    grid-row-gap: 25px;
  }
  .statistics .statistic .statistic__count {
    padding-top: 20px;
    font-size: 60px;
  }
  .statistics .statistic .statistic__description {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .statistics .container2 {
    width: 1280px;
    display: flex;
    flex-direction: row;
    height: 640px;
  }
  .statistics .bg-friends {
    margin: 0;
    background-size: 195% 133%;
    width: 640px;
    height: auto;
    background-position: -240px -160px;
  }
  .statistics .registration {
    margin: 0px;
    margin-left: 70px;
    width: 640px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .statistics .logo {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .statistics .entry__link {
    width: 260px;
  }
  .statistics .statistics {
    width: 960px;
    height: 274px;
    flex-direction: row;
    grid-column-gap: 150px;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
  }
  .statistics .statistic {
    grid-row-gap: 25px;
  }
  .statistics .statistic__count {
    padding-top: 20px;
    font-size: 60px;
  }
  .statistics .statistic__description {
    font-size: 18px;
    line-height: 20px;
  }
}

.block-last-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.block-last-message .last-message__title {
  padding-top: 45px;
  font-weight: 900;
  font-size: 20px;
  line-height: 29px;
  margin: 0px 16px;
  margin-bottom: 24px;
}
.block-last-message .line {
  border-top: 1px solid #E9E9E9;
  height: 1px;
  width: 100%;
  padding: 16px 0px 16px 0;
}
.block-last-message .post {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 16px;
  margin: 0px 16px;
  width: 90%;
}
.block-last-message .post .post__avatar {
  width: 52px;
  height: 52px;
}
.block-last-message .post .user {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
  min-width: 260px;
}
.block-last-message .post .user .user-information {
  display: flex;
  justify-content: space-between;
}
.block-last-message .post .user .user-information .user-information__user-name {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: #1D1E22;
  display: flex;
  flex-direction: column;
}
.block-last-message .post .user .user-information .user-information__user-name span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ABACB1;
}
.block-last-message .post .user .user-information .user-information__time-message {
  width: 52px;
}
.block-last-message .post .user .user-information .user-information__time-message p {
  font-weight: 400;
  font-size: 10px;
  text-align: right;
  color: #ABACB1;
}
.block-last-message .post .user-message {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}
.block-last-message .post .user-message p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.block-last-message .post .user-message img {
  max-width: 100%;
  height: auto;
}
.block-last-message .post .mg-rg {
  margin-right: 10px;
}
.block-last-message .post .user-interaction {
  max-width: 205px;
  display: flex;
  justify-content: space-between;
}
.block-last-message .post .user-interaction .user-interaction__item {
  display: flex;
  align-items: center;
}
.block-last-message .post .user-interaction .user-interaction__item .user-interaction__favs path:hover {
  fill: #ff0000;
  stroke: #0057FF;
}
.block-last-message .post .user-interaction .user-interaction__item .user-interaction__icon path:hover {
  stroke: #0057FF;
}
.block-last-message .post .user-interaction .user-interaction__item p {
  margin-left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #B1B1B1;
}

@media (min-width: 1280px) {
  .container2 {
    width: 1280px;
    display: flex;
    flex-direction: row;
    height: 640px;
  }
  .bg-friends {
    margin: 0;
    background-size: 195% 133%;
    width: 640px;
    height: auto;
    background-position: -240px -160px;
  }
  .registration {
    margin: 0px;
    margin-left: 70px;
    width: 640px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .logo {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .entry__link {
    width: 260px;
  }
  .statistics {
    width: 960px;
    height: 274px;
    flex-direction: row;
    grid-column-gap: 150px;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
  }
  .statistic {
    grid-row-gap: 25px;
  }
  .statistic__count {
    padding-top: 20px;
    font-size: 60px;
  }
  .statistic__description {
    font-size: 18px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */