* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  }
  @media (min-width: 1280px) {
    body {
      background: #F4F5F6;
    }
  }
  .loader {
    border: 8px solid #f3f3f3; /* Светлый цвет фона */
    border-top: 8px solid #3498db; /* Цвет верхней части */
    border-radius: 50%; /* Круглая форма */
    width: 50px; /* Ширина */
    height: 50px; /* Высота */
    animation: spin 1s linear infinite; /* Анимация */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}