.cardUser {
    width: 312px;
    height: 150px;
    box-shadow: 0px 5px 30px 0px #0000000D;
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    display: flex;
    align-items: end;
    z-index: -1;
}
.userInfoBlock {
    position: absolute;
    top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.avatar {
    width: 84px;
    height: 84px;
    background: #00000066;
    background-image: url('../img/avatar-new.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 10px 15px 0px #0000000D;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: RGB(227,235,238);
    cursor: pointer;
}
.userInfo {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.name {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    color: #1D1E22;
}
.email {
    display: block;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #ABACB1;
}
.statistics {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 20px;
}
.title {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #1D1E22;
}
.subTitle {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #ABACB1;
}