.post{
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-column-gap: 16px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}    
.post__avatar{
    width: 52px;
    height: 52px;
    background: #00000066;
    background-image: url('../img/avatar-new.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 10px 15px 0px #0000000D;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: RGB(227,235,238);
}
.user {
    display: flex;
    flex-direction: column;
    grid-row-gap: 5px;
    min-width: 260px;
}
.user-information{
    display: flex;
    justify-content:space-between;
}
.user-information__user-name {
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    color: #1D1E22;
    display: flex;
    flex-direction: column;
}
.user-information__user-name span{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ABACB1;
}
.user-information__time-message{
    width: 52px;
}
.user-information__time-message p{
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    color: #ABACB1;
}
.user-message {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}
.user-message p{
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.user-message img {
  max-width: 100%;
  height: auto;
}
.mg-rg{
  margin-right: 10px;
}
.user-interaction {
  display: flex;
  margin-top: 5px;
  max-width: 205px;
  justify-content: space-between;
}
.user-interaction__item {
  display: flex;
  align-items: center;
}
.user-interaction__favs path:hover {
  fill: #ff0000;
  stroke: #0057FF;
}
.user-interaction__icon path:hover{ 
  stroke: #0057FF;
}
.user-interaction p{
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ABACB1;
}
.no-message1 {
    height: 8px;
    width: 100% - 5%;
    background-color: RGB(227,235,238);
}
.no-message2 {
    height: 8px;
    width: 100% - 15%;
    background-color: RGB(227,235,238);
}
.no-mail {
  height: 8px;
  width: 200px;
  background-color: RGB(227,235,238);
  margin-bottom: 25px;
}
.no-name {
  height: 8px;
  width: 80px;
  background-color: RGB(227,235,238);
  margin-bottom: 5px;
}
.no-line {
  display: none;
}
.line{
  border-top: 1px solid #E9E9E9;
  height: 1px;
  width: 100%;
  margin: 16px 0px 16px 0;
}
@media (min-width: 1280px) {
    .LastMessageList {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
        margin: auto;
        padding: 0px;
       }   
    .post{
        padding: 16px;
        width: 632px;
        grid-template-columns: 64px 1fr;
    }
    .post__avatar{
        width: 64px;
        height: 64px;
    }
    .user-information__time-message{
      width: 150px;
    }
    .user-information__user-name{
      flex-direction: row;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
    }
    .user-information__user-name span {
      margin-left: 20px;  
    }
    .user-information__time-message p {
      font-size: 14px;
    }
    .user-interaction{
      max-width: 280px;
    }
    .line {
      display: none;
    }
    .user-message p {
    font-size: 18px;
    }          
}
