.newTweet {
    width: 632px;
    flex-direction: column;
    gap: 20px;
    display: none;
    position: fixed;
}
.newTweet_active {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #ffffff;
}
.newTweetInp {
    box-sizing: border-box;
    padding-bottom: 21px;
    padding-left: 16px;
    padding-right: 16px;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    outline: 0 !important;
    border: 0;
    border-radius: 10px;
}
.sendTweet {
    display: flex;
    flex-direction: column;
    border: 3px solid #0057FF;
    width: 100%;
    height: 456px;
    box-shadow: 0px 5px 30px 0px #0000000D;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
}
.messageTweet {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #1D1E22;
    min-height: 106px;
    padding-top: 20px;
}
.footerTweet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.addPhoto {
    width: 61px;
    height: 52px;
    border-radius: 10px;
    border: 2px solid #0057FF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}
.addedPhoto {
    position: fixed;
    width: 61px;
    height: 52px;
    border-radius: 10px;
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
=======
    justify-content: flex-end;
    align-items: flex-start;
>>>>>>> task-16
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 70px;
    right: 19px;
}
.exit {
<<<<<<< HEAD
    position: absolute;
    right: -1px;
    top: -2px;
=======
>>>>>>> task-16
    background: white; 
    border-radius: 20px;
    cursor: pointer;
}
.addPhoto:hover{
    background: #0057FF;
    transition: all 0.5s;    
}
.addPhotoCamera{
    transition: all 0.5s;    
}
.addPhoto:hover .addPhotoCamera{
    fill: #FFFFFF;
    transition: all 0.5s;    
}
.btnTweet {
    width: 183px;
    height: 52px;
    border-radius: 10px;
    background: #0057FF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    text-align: center;
    border: 1px solid #0057FF;
    color: #FFFFFF;
    color: #ffffff;
    transition: all 0.5s;
    cursor: pointer;    
}
.btnTweet:hover{
    color: #0057FF;
    background: #FFFFFF;
    transition: all 0.5s;    
}
.blockSend {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.postSize {
    text-align: center;
}

.progressbar circle{
    r: 25;
    stroke-width: 2;
    fill: transparent;
}
.progressbar__track {
    stroke: #DFDFDF;
}
.progressbar__thumb {
    stroke: #0057FF;
    transform-origin: center;
    transform-box: fill-box;
	transform: rotate(-90deg);
}
@media (min-width: 1280px) {
    .newTweet {
        position: static;
        width: 632px;
        flex-direction: column;
        gap: 20px;
        display: flex;
    }
    .sendTweet {
        display: flex;
        flex-direction: column;
        border: 3px solid #0057FF;
        width: 100%;
        height: auto;
        box-shadow: 0px 5px 30px 0px #0000000D;
        border-radius: 10px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 10px;
    }
    .newTweetInp {
        box-sizing: border-box;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 16px;
        padding-right: 16px;
        background: #FFFFFF;
        width: 100%;
        height: auto;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 900;
        line-height: 24px;
        outline: 0 !important;
        border: 0;
        border-radius: 10px;
    }
    .btnTweet {
        width: 220px;
    }
    .addedPhoto {
        position: static;
    }
}