.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #0057FF;
    text-align: center;
    height: 46px;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #00000040;
}
.mainFeed {
    margin-top: 62px;
    padding: 0, 16px, 0 16px;
    margin-bottom: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
.footer {
    box-shadow: 0px 0px 5px 0px #00000040;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.newMessage {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 64px;
    height: 64px;
    border-radius: 33px 33px 33px 33px;
    background: #0057FF;
    box-shadow: 0px 10px 10px 0px #0000001A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: none;
}
.avatar {
    width: 26px;
    height: 26px;
    background: #00000066;
    background-image: url('../img/avatar-new.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 10px 15px 0px #0000000D;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: RGB(227,235,238);
    cursor: pointer;
}
.avatarDecst {
    width: 48px;
    height: 48px;
    display: none;
    background: #00000066;
    background-image: url('../img/avatar-new.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 10px 15px 0px #0000000D;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: RGB(227,235,238);
    cursor: pointer;
}
.main1 {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.main2 {
    display: none;
    gap: 16px;
    flex-direction: column;
}
@media (min-width: 1280px) {
    .header {
        background: #FFFFFF;
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: space-between;
    }
    .logoPath {
        fill: #0057FF;
        margin-right: 30px;
    }
    .footer {
        display: none;
    }
    .navbar {
        display: block;
    }
    .newMessage {
        display: none;
    }
    .avatarDecst {
        display: flex;
        margin-right: 16px;
    }
    .logo {
        margin-right: 270px;
    }
    .mainFeed {
        margin-top: 96px;
    }
    .main2 {
        display: flex;
    }
}