body {
    background: rgba(244, 245, 246, 1);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 800;
    line-height: 42.19px;
    margin-bottom: 20px;
}
.profileSetting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 632px;
    height: 600px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
}
.firstSetting {
    display: flex;
    gap: 20px;
}
.secondSetting {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.thirdSetting {
    display: flex;
    gap: 10px;
}
.avatar {
    width: 128px;
    height: 128px;
    background: #00000066;
    background-image: url('../img/avatar-new.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 10px 15px 0px #0000000D;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: (0, 0, 0, 0.4);   
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
