.subscriptionItem {
  display: flex;
  justify-content: space-between;
}
.subscriptionBlock {
  display: flex;
  gap: 20px;
}
.avatar {
    width: 52px;
    height: 52px;
    background: #00000066;
    background-image: url('../img/avatar-new.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    box-shadow: 0px 10px 15px 0px #0000000D;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: RGB(227,235,238);
}
.infoSubscription {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    max-width: 200px;
}
.infoSubscription__name {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}
.infoSubscription__nickname {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(171, 172, 177, 1);
}
.infoSubscription__description {
    margin-top: 2px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}
.btn  {
    margin-top: 5px;
    width: 69px;
    height: 24px;
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    padding: 0 ;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 87, 255, 1);
    color: rgba(0, 87, 255, 1);
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 87, 255, 1);
    transition: all 0.5s;
}
.line {
    border-top: 1px solid #E9E9E9;
    height: 1px;
    width: 100%;
    margin: 20px 0px 20px 0;
  }
.btnActive {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 87, 255, 1);
}
.btnActive:hover {
    color: rgba(0, 87, 255, 1);
    background: rgba(255, 255, 255, 1);
}

@media (min-width: 1280px) {
    .line {
      display: none;  
    }
    .avatar {
      width: 64px;
      height: 64px;
    }
    .infoSubscription {
      max-width: none;
      width: 350px;
    }
    .infoSubscription__name {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
    .infoSubscription__nickname {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
    }
    .infoSubscription__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px; 
    }
    .btn {
        width: 140px !important;
    }
}