.subscription {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}
.subscription__title {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}
@media (min-width: 1280px) {
    .subscription {
      box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
      background: rgba(255, 255, 255, 1);
      border-radius: 10px;
    }
    .subscription__title {
      margin-top: 10px;
    }
}